%block-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin wh($w,$h:$w) {
  width: $w;
  height: $h;
}

@mixin transition($prop,$dur,$tf,$delay){
  transition: $prop $dur $tf $delay
}
